/*
font-family: 'Saira',
sans-serif;
font-family: 'Saira Condensed',
sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: white;
  height: 115vh;
  overflow: hidden;
  max-width: 1920px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

div.menu {
  height: auto;
  width: 100%;
}

div.menu > img {
  width: 100%;
  height: auto;
}

header div.welcome {
  width: 40%;
  font-family: "Saira Condensed", sans-serif;
  color: black;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  font-weight: normal;
  font-size: 20px;
}

header h2 {
  font-size: 20px;
  font-weight: normal;
}

header button {
  font-family: "Saira", sans-serif;
  font-weight: 22px;
  line-height: 52px;
  padding: 0 20px;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
  font-size: 20px;
  border: 2px solid black;
}

/* sekcja ludziki */
section.features-clearfix {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.feature {
  text-align: center;
}

/* sekcja kontakt */
.contact {
  background-color: #000;
  padding: 30px 20px;
  margin-top: 20vh;
}

.contact h1 {
  font-family: "Saira Condensed", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: white;
  text-align: center;
}

.contact .wrap {
  padding-top: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
  width: 100%;
  margin-bottom: 20px;
  font-family: saria, sans-serif;
  font-size: 12px;
  padding: 5px;
}

.contact input {
  height: 30px;
}

.contact textarea {
  height: 120px;
}

.contact button {
  font-size: 12px;
  line-height: 40px;
  background-color: black;
  color: white;
  border: 2px solid white;
}

.contact .socials {
  padding: 30px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .social {
  padding: 10px 0;
  color: white;
  font-family: saria condensed, sans-seif;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.clearfix {
  color: white;
}

.contact .social span {
  line-height: 72px;
  padding-left: 20px;
  color: white;
  display: flex;
}

@media screen and (min-width: 640px) {
  div.menu {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  section.features-clearfix {
    flex-direction: row;
  }
}
