/*
font-family: 'Saira',
sans-serif;
font-family: 'Saira Condensed',
sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  display: flex;
  background-color: white;
  height: 100vh;
  overflow: hidden;
  max-width: 1920px;
  flex-wrap: wrap;
  justify-content: space-around;

}


div.menu {
  height: 40%;
  width: 60%;
  background-image: url('images/dzieci/third.jpg');
  background-size: contain;
  background-repeat: no-repeat;

}

header div.welcome {
  width: 40%;
  font-family: 'Saira Condensed',
    sans-serif;
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;


}


header h1 {
  margin-top: 15px;
  font-size: 60px;
}

header h2 {
  font-size: 20px;
  font-weight: normal;
}

header button {
  font-family: 'Saira', sans-serif;
  font-weight: 30px;
  line-height: 32px;
  padding: 0 20px;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
  font-size: 14px;
  border: 2px solid black;
}